sphinx>=7.0
sphinx-rtd-theme
django>=4.2
django-clickhouse-backend
django-guardian
django-model-utils
django-notifications-hq
django-storages
jsonfield
social-auth-app-django
social-auth-core
anymail
elasticsearch
elasticsearch-dsl
gunicorn
jmespath
openpyxl
pillow
psycopg
pyliftover
redis
requests
requests-oauthlib
requests-toolbelt
slacker
slugify
swapper
tenacity
tqdm
whitenoise
